.contenaire {
    display: flex;
    flex-basis: 25%;
    justify-content: space-between;
    background-color: rgb(235, 230, 230);
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}

.type {
    display: flex;
    align-items: center;
}

.liste {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}