<div class="liste">
    <div class="contenaire" *ngFor="let pokemon of pokemonList" pkmnBorderCard (click)="goToPokemon(pokemon)">
        <div>
            <h1>{{pokemon.name}}</h1>
            <span class="{{type | pokemonTypeColor}}" *ngFor="let type of pokemon.types">{{type}}</span>
            <p>{{pokemon.created | date:"dd/MM/yyyy"}}</p>
        </div>
        <div>
            <img src="{{pokemon.picture}}">
        </div>
    </div>
</div>