<div class="liste" *ngIf="pokemon">
    <div class="contenaire">
        <a class="btn-floating" (click)="goBack()"><i class="material-icons"> arrow_back</i></a>
        <div>
            <img src="{{pokemon.picture}}">
        </div>
        <div>
            <table class="bordered striped">
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td><strong>{{ pokemon.name }}</strong></td>
                    </tr>
                    <tr>
                        <td>Points de vie</td>
                        <td><strong>{{ pokemon.hp }}</strong></td>
                    </tr>
                    <tr>
                        <td>Dégâts</td>
                        <td><strong>{{ pokemon.cp }}</strong></td>
                    </tr>
                    <tr>
                        <td>Types</td>
                        <td>
                            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{
                                type }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Date de création</td>
                        <td><em>{{ pokemon.created | date}}</em></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<h4 *ngIf='!pokemon' class="center">Aucun pokémon à afficher !</h4>