.contenaire {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    padding: 1%;
    margin: 10%;
}

.type {
    display: flex;
    align-items: center;
}

.liste {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}